# Projet 3 - Anticipez les besoins en consommation de bâtiments

## Notebook de predictions

Le but de ce notebook est d'utiliser le dataset clean généré par l'analyse exploratoire, et de créer des modèles prédictifs pour les consommations énergétiques et l'émission de CO2.

In [1]:
import pandas as pd
from MLUtils import DataAnalysis, DataEngineering

import warnings
warnings.filterwarnings("ignore")

In [2]:
# Importation du jeu de données
df = pd.read_csv('data/clean.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3337 entries, 0 to 3336
Data columns (total 31 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   BuildingType                        3337 non-null   int64
 1   PrimaryPropertyType                 3337 non-null   int64
 2   NumberofBuildings                   3337 non-null   float64
 3   NumberofFloors                      3337 non-null   float64
 4   PropertyGFAParking                  3337 non-null   int64
 5   ENERGYSTARScore                     2524 non-null   float64
 6   SiteEUI(kBtu/sf)                    3337 non-null   float64
 7   SiteEUIWN(kBtu/sf)                  3337 non-null   float64
 8   SourceEUI(kBtu/sf)                  3337 non-null   float64
 9   SourceEUIWN(kBtu/sf)                3337 non-null   float64
 10  SiteEnergyUse(kBtu)                 3337 non-null   float64
 11  SiteEnergyUseWN(kBtu)               3337 non-null   float64
 12  SteamUse(kBtu)                      3337 non-null   float64
 13  NaturalGas(therms)                  3337 non-null   float64
 14  NaturalGas(kBtu)                    3337 non-null   float64
 15  GHGEmissionsIntensity               3337 non-null   float64
 16  Neighborhood_BALLARD                3337 non-null   float64
 17  Neighborhood_CENTRAL                3337 non-null   float64
 18  Neighborhood_DELRIDGE               3337 non-null   float64
 19  Neighborhood_DOWNTOWN               3337 non-null   float64
 20  Neighborhood_EAST                   3337 non-null   float64
 21  Neighborhood_GREATER DUWAMISH       3337 non-null   float64
 22  Neighborhood_LAKE UNION             3337 non-null   float64
 23  Neighborhood_MAGNOLIA / QUEEN ANNE  3337 non-null   float64
 24  Neighborhood_NORTH                  3337 non-null   float64
 25  Neighborhood_NORTHEAST              3337 non-null   float64
 26  Neighborhood_NORTHWEST              3337 non-null   float64
 27  Neighborhood_SOUTHEAST              3337 non-null   float64
 28  Neighborhood_SOUTHWEST              3337 non-null   float64
 29  Age                                 3337 non-null   int64
 30  EnergyUse_Age_Ratio                 3337 non-null   float64
dtypes: float64(27), int64(4)
memory usage: 808.3 KB

In [4]:
df.describe()

,BuildingType,PrimaryPropertyType,NumberofBuildings,NumberofFloors,PropertyGFAParking,ENERGYSTARScore,SiteEUI(kBtu/sf),SiteEUIWN(kBtu/sf),SourceEUI(kBtu/sf),SourceEUIWN(kBtu/sf),...,Neighborhood_GREATER DUWAMISH,Neighborhood_LAKE UNION,Neighborhood_MAGNOLIA / QUEEN ANNE,Neighborhood_NORTH,Neighborhood_NORTHEAST,Neighborhood_NORTHWEST,Neighborhood_SOUTHEAST,Neighborhood_SOUTHWEST,Age,EnergyUse_Age_Ratio
count,3337.000000,3337.000000,3337.000000,3337.000000,3337.000000,2524.000000,3337.000000,3337.000000,3337.000000,3337.000000,...,3337.000000,3337.000000,3337.000000,3337.000000,3337.000000,3337.000000,3337.000000,3337.000000,3337.000000,3337.000000
mean,0.492958,1.002098,1.107582,1.198690,8063.891819,67.947306,55.075187,57.418430,135.028289,138.631885,...,0.112376,0.074618,0.125562,0.054840,0.082709,0.065328,0.028169,0.048846,54.464789,1.611193
std,0.500025,1.221925,2.118095,1.029832,32475.541333,26.851849,56.393783,57.270796,139.534209,139.315264,...,0.315876,0.262813,0.331405,0.227701,0.275483,0.247141,0.165480,0.215579,33.148610,2.348184
min,0.000000,0.000000,0.000000,-9.210340,0.000000,1.000000,0.400000,0.000000,0.000000,-2.100000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,0.006195
25%,0.000000,0.000000,1.000000,0.693197,0.000000,53.000000,28.000000,29.500000,74.900002,78.699997,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,26.000000,0.507143
50%,0.000000,0.000000,1.000000,1.386319,0.000000,75.000000,38.799999,41.000000,96.500000,101.400002,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,49.000000,0.861702
75%,1.000000,2.000000,1.000000,1.609458,0.000000,90.000000,60.599998,64.500000,144.800003,149.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,75.000000,1.857778
max,1.000000,3.000000,111.000000,4.595121,512608.000000,100.000000,834.400024,834.400024,2620.000000,2620.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,123.000000,53.963634

#### Normalisation des données avec MinMax

In [5]:
from sklearn.preprocessing import MinMaxScaler
import pandas as pd

# Chargement du DataFrame original
df = pd.read_csv('data/clean.csv')

# Sélection des colonnes numériques
numeric_columns = df.select_dtypes(include=['int64', 'float64']).columns

# Sélection des colonnes non numériques
non_numeric_columns = df.select_dtypes(exclude=['int64', 'float64']).columns

# Création du scaler
scaler = MinMaxScaler()

# Application de la normalisation sur les colonnes numériques
scaled_numeric_data = scaler.fit_transform(df[numeric_columns])

# Création d'un DataFrame pour les données normalisées
df_scaled_numeric = pd.DataFrame(scaled_numeric_data, columns=numeric_columns)

# Combinaison des données numériques normalisées avec les données non numériques
df_scaled = pd.concat([df_scaled_numeric, df[non_numeric_columns].reset_index(drop=True)], axis=1)

# Affichage des premières lignes pour vérifier la création de df_scaled
print(df_scaled.head())

   BuildingType  PrimaryPropertyType  NumberofBuildings  NumberofFloors  \
0           1.0             0.333333           0.009009        0.847147
1           1.0             0.333333           0.009009        0.840844
2           1.0             0.333333           0.009009        0.936145
3           1.0             0.333333           0.009009        0.833941
4           1.0             0.333333           0.009009        0.876517

   PropertyGFAParking  ENERGYSTARScore  SiteEUI(kBtu/sf)  SiteEUIWN(kBtu/sf)  \
0            0.000000         0.595960          0.097482            0.101031
1            0.029387         0.606061          0.113189            0.117330
2            0.383759         0.424242          0.114628            0.117090
3            0.000000         0.555556          0.132374            0.135786
4            0.120950         0.747475          0.137170            0.142258

   SourceEUI(kBtu/sf)  SourceEUIWN(kBtu/sf)  ...  \
0            0.069656              0.072881  ...
1            0.067214              0.069219  ...
2            0.092328              0.093894  ...
3            0.082519              0.086229  ...
4            0.080687              0.083025  ...

   Neighborhood_GREATER DUWAMISH  Neighborhood_LAKE UNION  \
0                            0.0                      0.0
1                            0.0                      0.0
2                            0.0                      0.0
3                            0.0                      0.0
4                            0.0                      0.0

   Neighborhood_MAGNOLIA / QUEEN ANNE  Neighborhood_NORTH  \
0                                 0.0                 0.0
1                                 0.0                 0.0
2                                 0.0                 0.0
3                                 0.0                 0.0
4                                 0.0                 0.0

   Neighborhood_NORTHEAST  Neighborhood_NORTHWEST  Neighborhood_SOUTHEAST  \
0                     0.0                     0.0                     0.0
1                     0.0                     0.0                     0.0
2                     0.0                     0.0                     0.0
3                     0.0                     0.0                     0.0
4                     0.0                     0.0                     0.0

   Neighborhood_SOUTHWEST       Age  EnergyUse_Age_Ratio
0                     0.0  0.765217             0.015658
1                     0.0  0.165217             0.064957
2                     0.0  0.400000             0.032833
3                     0.0  0.773913             0.021055
4                     0.0  0.304348             0.049364

[5 rows x 31 columns]

TODO: Drop les lignes sans energystarscore

TotalGHGEmission : prédire

Ensuite faire le feature importance (les features qui ont le plus d'impact)
Déterminer si ESScore important ou pas

Si non important l'enlever

# Remplissage de la colonne ENERGYSTARScore en fonction des autres colonnes.

Le dataset ne contenait pas tous les scores ENERGYSTAR. Nous allons tout d'abord créer et appliquer un modèle qui va remplir cette colonne.

In [6]:
from sklearn.model_selection import train_test_split

from sklearn.metrics import mean_squared_error

# Séparation du DataFrame en deux ensembles
df_scaled_with_score = df_scaled[df_scaled['ENERGYSTARScore'].notna()]
df_scaled_without_score = df_scaled[df_scaled['ENERGYSTARScore'].isna()]

# Séparation des caractéristiques (X) et de la cible (y) - Assurez-vous de retirer 'ENERGYSTARScore'
X = df_scaled_with_score.drop('ENERGYSTARScore', axis=1)
y = df_scaled_with_score['ENERGYSTARScore']

# Division en ensembles d'entraînement et de test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [7]:
from sklearn.linear_model import LinearRegression

# Création et entraînement du modèle
model = LinearRegression()
model.fit(X_train, y_train)

# Évaluation du modèle
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
print(f"Mean Squared Error: {mse}")

Mean Squared Error: 0.07471191637131842

In [8]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import ElasticNet


# alpha et l1_ratio doivent être ajustés en fonction de vos données
elastic_net_model = ElasticNet(alpha=0.1, l1_ratio=0.5, random_state=42)
elastic_net_model.fit(X_train, y_train)

# Prédictions et évaluation
y_pred = elastic_net_model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
print(f"Mean Squared Error: {mse}")

Mean Squared Error: 0.07643471088243874

In [9]:
from sklearn.linear_model import Lasso

# Création et entraînement du modèle Lasso
lasso_model = Lasso(alpha=0.1, random_state=42)
lasso_model.fit(X_train, y_train)

# Prédictions et évaluation
y_pred_lasso = lasso_model.predict(X_test)
mse_lasso = mean_squared_error(y_test, y_pred_lasso)
print(f"Mean Squared Error (Lasso): {mse_lasso}")

Mean Squared Error (Lasso): 0.07643471088243874

In [10]:
from sklearn.linear_model import Ridge

# Création et entraînement du modèle Ridge
ridge_model = Ridge(alpha=1.0, random_state=42)
ridge_model.fit(X_train, y_train)

# Prédictions et évaluation
y_pred_ridge = ridge_model.predict(X_test)
mse_ridge = mean_squared_error(y_test, y_pred_ridge)
print(f"Mean Squared Error (Ridge): {mse_ridge}")

Mean Squared Error (Ridge): 0.06954010769662959

In [11]:
from sklearn.svm import SVR

# Création et entraînement du modèle SVR
svr_model = SVR(kernel='rbf')
svr_model.fit(X_train, y_train)

# Prédictions et évaluation
y_pred_svr = svr_model.predict(X_test)
mse_svr = mean_squared_error(y_test, y_pred_svr)
print(f"Mean Squared Error (SVR): {mse_svr}")

Mean Squared Error (SVR): 0.04620641297302419

In [12]:
from xgboost import XGBRegressor

# Création et entraînement du modèle XGBoost
xgb_model = XGBRegressor(n_estimators=100, random_state=42)
xgb_model.fit(X_train, y_train)

# Prédictions et évaluation
y_pred_xgb = xgb_model.predict(X_test)
mse_xgb = mean_squared_error(y_test, y_pred_xgb)
print(f"Mean Squared Error (XGBoost): {mse_xgb}")

Mean Squared Error (XGBoost): 0.03701328577625559

Le modèle XGBoost donne les meilleurs résultats. TODO: On l'utilise pour remplir les valeurs manquantes.

In [13]:
# Prédictions sur les données sans score
y_pred_xgb = xgb_model.predict(df_scaled_without_score.drop('ENERGYSTARScore', axis=1))

# Remplacement des valeurs manquantes par les valeurs prédites
df_scaled_without_score['ENERGYSTARScore'] = y_pred_xgb

# Affichage des premières lignes pour vérifier le remplacement des valeurs manquantes
print(df_scaled_without_score.head())

# Remplacer les valeurs manquantes dans le DataFrame original en faisant l'opération inverse de la normalisation
df['ENERGYSTARScore'] = df_scaled_without_score['ENERGYSTARScore'] * 100

    BuildingType  PrimaryPropertyType  NumberofBuildings  NumberofFloors  \
5            1.0                  1.0           0.009009        0.717364
7            1.0                  1.0           0.009009        0.817777
15           1.0                  1.0           0.009009        0.840844
16           1.0                  1.0           0.009009        0.796939
18           1.0                  1.0           0.009009        0.783733

    PropertyGFAParking  ENERGYSTARScore  SiteEUI(kBtu/sf)  SiteEUIWN(kBtu/sf)  \
5             0.072566         0.353135          0.162710            0.169703
7             0.000000         0.554269          0.073022            0.082454
15            0.111196         0.980213          0.060432            0.061242
16            0.000000         0.349836          0.091367            0.093960
18            0.000000         0.437585          0.158273            0.164310

    SourceEUI(kBtu/sf)  SourceEUIWN(kBtu/sf)  ...  \
5             0.120725              0.123031  ...
7             0.054084              0.058884  ...
15            0.059389              0.060295  ...
16            0.060076              0.061668  ...
18            0.107137              0.109492  ...

    Neighborhood_GREATER DUWAMISH  Neighborhood_LAKE UNION  \
5                             0.0                      0.0
7                             0.0                      0.0
15                            0.0                      0.0
16                            0.0                      0.0
18                            0.0                      0.0

    Neighborhood_MAGNOLIA / QUEEN ANNE  Neighborhood_NORTH  \
5                                  0.0                 0.0
7                                  0.0                 0.0
15                                 0.0                 0.0
16                                 0.0                 0.0
18                                 0.0                 0.0

    Neighborhood_NORTHEAST  Neighborhood_NORTHWEST  Neighborhood_SOUTHEAST  \
5                      0.0                     0.0                     0.0
7                      0.0                     0.0                     0.0
15                     0.0                     0.0                     0.0
16                     0.0                     0.0                     0.0
18                     0.0                     0.0                     0.0

    Neighborhood_SOUTHWEST       Age  EnergyUse_Age_Ratio
5                      0.0  0.139130             0.104983
7                      0.0  0.773913             0.011597
15                     0.0  0.095652             0.049437
16                     0.0  0.739130             0.015150
18                     0.0  0.939130             0.021039

[5 rows x 31 columns]

In [14]:
df.sample(10)

,BuildingType,PrimaryPropertyType,NumberofBuildings,NumberofFloors,PropertyGFAParking,ENERGYSTARScore,SiteEUI(kBtu/sf),SiteEUIWN(kBtu/sf),SourceEUI(kBtu/sf),SourceEUIWN(kBtu/sf),...,Neighborhood_GREATER DUWAMISH,Neighborhood_LAKE UNION,Neighborhood_MAGNOLIA / QUEEN ANNE,Neighborhood_NORTH,Neighborhood_NORTHEAST,Neighborhood_NORTHWEST,Neighborhood_SOUTHEAST,Neighborhood_SOUTHWEST,Age,EnergyUse_Age_Ratio
175,1,2,1.0,1.098646,0,NaN,50.000000,57.099998,74.400002,81.900002,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,96,0.520833
2408,1,1,1.0,1.098646,0,NaN,30.100000,32.400002,64.199997,66.199997,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,123,0.244715
1173,0,0,16.0,1.098646,0,NaN,40.200001,42.599998,126.199997,133.699997,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,45,0.893333
2275,0,0,1.0,1.098646,0,NaN,49.099998,55.200001,68.900002,75.400002,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,95,0.516842
621,1,3,1.0,1.386319,0,NaN,8.500000,9.400000,20.299999,21.200001,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,36,0.236111
233,1,1,1.0,1.791776,44248,NaN,46.099998,46.099998,144.899994,144.899994,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,21,2.195238
354,1,3,0.0,0.000100,0,NaN,92.699997,95.500000,246.199997,249.100006,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,39,2.376923
2634,1,3,1.0,0.000100,0,NaN,293.799988,301.899994,741.400024,745.400024,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,73,4.024657
865,1,3,1.0,0.693197,0,NaN,39.500000,45.900002,67.500000,76.900002,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,75,0.526667
1286,1,3,1.0,1.386319,34800,NaN,41.299999,43.799999,129.800003,137.500000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,33,1.251515

In [15]:
df.describe()

,BuildingType,PrimaryPropertyType,NumberofBuildings,NumberofFloors,PropertyGFAParking,ENERGYSTARScore,SiteEUI(kBtu/sf),SiteEUIWN(kBtu/sf),SourceEUI(kBtu/sf),SourceEUIWN(kBtu/sf),...,Neighborhood_GREATER DUWAMISH,Neighborhood_LAKE UNION,Neighborhood_MAGNOLIA / QUEEN ANNE,Neighborhood_NORTH,Neighborhood_NORTHEAST,Neighborhood_NORTHWEST,Neighborhood_SOUTHEAST,Neighborhood_SOUTHWEST,Age,EnergyUse_Age_Ratio
count,3337.000000,3337.000000,3337.000000,3337.000000,3337.000000,813.000000,3337.000000,3337.000000,3337.000000,3337.000000,...,3337.000000,3337.000000,3337.000000,3337.000000,3337.000000,3337.000000,3337.000000,3337.000000,3337.000000,3337.000000
mean,0.492958,1.002098,1.107582,1.198690,8063.891819,57.022560,55.075187,57.418430,135.028289,138.631885,...,0.112376,0.074618,0.125562,0.054840,0.082709,0.065328,0.028169,0.048846,54.464789,1.611193
std,0.500025,1.221925,2.118095,1.029832,32475.541333,22.948042,56.393783,57.270796,139.534209,139.315264,...,0.315876,0.262813,0.331405,0.227701,0.275483,0.247141,0.165480,0.215579,33.148610,2.348184
min,0.000000,0.000000,0.000000,-9.210340,0.000000,-4.232855,0.400000,0.000000,0.000000,-2.100000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,0.006195
25%,0.000000,0.000000,1.000000,0.693197,0.000000,38.773296,28.000000,29.500000,74.900002,78.699997,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,26.000000,0.507143
50%,0.000000,0.000000,1.000000,1.386319,0.000000,56.530876,38.799999,41.000000,96.500000,101.400002,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,49.000000,0.861702
75%,1.000000,2.000000,1.000000,1.609458,0.000000,76.169815,60.599998,64.500000,144.800003,149.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,75.000000,1.857778
max,1.000000,3.000000,111.000000,4.595121,512608.000000,104.276619,834.400024,834.400024,2620.000000,2620.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,123.000000,53.963634

In [16]:
# write the resulting dataframe to a csv file
df.to_csv('data/clean_with_score.csv', index=False)

Après GridSearchCV